.uploadModal{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
}
.uploadModal .dropImage label input{
  top: 0;
}
.uploadModal .dropImage label{
  background: var(--surface);
  border: dashed 2px var(--primary);
  color: var(--on-surface);
  padding: var(--space-sm);
}
.uploadModal .dropImage label:hover{
  background: var(--primary);
  color: var(--on-primary);
  padding-right: var(--space-lg);
}
.uploadModal .dropImage{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  width: 14em;
  height: 100%;
  position: relative;
}
.uploadModal .container{
  width: 200%;
  min-height: 100px;
  background-color: var(--surface);
  color: var(--on-surface);
  border: solid 1px var(--primary);
  border-top: 0;
}
.uploadModal .container > *{
  margin-top: 0;
  padding-top: 0;
  padding-left: var(--space-sm);
}
.uploadModal .container.none{
  display: none;
}
.fileDetails{
  font-size: small;
  text-align: left;
}
.editOptions{
  background: none;
  color: var(--primary-dark);
  font-size: medium;
  white-space: nowrap;
  font-style: italic;
}
.uploadModal .container table{
  margin: 0 auto;
}
.uploadModal .container table button{
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.uploadModal .container table th{
  background-color: var(--secondary);
  color: var(--on-secondary);
  opacity: .7;
}
.actionContainer{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
.actionContainer button{margin: var(--space-sm);}
.load{
  background-color: var(--primary);
  border: solid 1px var(--primary-dark);
  color: var(--on-primary);
}
.load:hover{
  border: solid 1px var(--primary-dark);
}
.cancel{
  background-color: var(--surface);
  border: solid 1px var(--error);
  color: var(--error);
}
.cancel:hover{
  background-color: var(--error);
  border: solid 1px var(--surface);
  color: var(--surface);
}