.network{
  width: calc(100% - 250px);
  height: 100%;
}
.node{
  font-family: monospace;
  cursor: default;
}
.node rect{
  fill: var(--surface);
}
.fixed rect{
  stroke-width: 5px;
  stroke: var(--primary-light);
}
.link{
  stroke: var(--secondary-dark);
  stroke-linecap: round;
}
.unfocused{
  opacity: .3;
}
line.unfocused{
  opacity: .1;
}
.focused{
  opacity: 1;
}
.focused rect{
  fill: var(--primary);
}
.focused text{
  fill: var(--on-primary);
}