.table{
  margin: 0 auto;
}
.table button{
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.table th{
  background-color: var(--secondary);
  color: var(--on-secondary);
  opacity: .7;
}