.table{
}
.collapsed .trafficCell,
.collapsed .portTrafficCell{
display: none;
}
.expanded{

}
.table{
margin-left: auto;
color: var(--on-background);
border-left: solid 1px var(--primary);
padding-right: var(--space-lg);
}
.table th{
color: var(--on-surface);
background-color: var(--surface);
}
.table th:last-of-type{
padding-right: 6em;
}
.table td{
padding-right: var(--space-sm);
}
span.trafficIcon{
font-size: 1.3em;
}
.port{
cursor: pointer;
display: inline-block;
height: 15px;
width: 15px;
margin-right: 10px;
background-color: var(--secondary-dark);
}
.port:hover{
background-color: var(--secondary);
}
.portContainer{
max-width: 9em;
}
.portTraffic{
display: flex;
max-width: 210px;
overflow-x: auto;
padding-bottom: var(--space-sm);
}
.portTraffic .portContainer{
display: flex;
align-items: center;
margin-right: var(--space-md);
padding-left: var(--space-sm);
padding-right: var(--space-sm);
color: var(--on-surface);
background: transparent;
border: solid 1px var(--secondary-dark);
border-radius: var(--space-sm);
}
.portTraffic .portName{
margin-right: var(--space-sm);
}
.portTraffic .trafficCount{
display: inline-flex;
flex-direction: column;
}
.portTraffic .trafficCount span{
white-space: nowrap;
}
.addressType{
display: block;
opacity: .6;
}
.table.collapsed .addressType{
display: none;
}
.table.collapsed b{
font-weight: normal;
}
.toggle button{
width: 100%;
text-align: left;
background-color: transparent;
color: var(--primary);
border-bottom: solid 1px var(--primary-light);
border-radius: 0;
padding-left: 0;
}
@media (max-width: 1100px){
    table.expanded{width: 100%;}
    .collapsed .portsCell{
    display: none;
    }
}